<!DOCTYPE html>

	<html>

		<head>
			<meta http-equiv="Content-Type" content="text/html; charset=UTF8"/>
			<title> {{site.title}} </title>

   			 <!-- Bootstrap Core CSS -->
   			 <link href="/css/bootstrap.min.css" rel="stylesheet">

    			 <!-- Custom CSS -->
    			 <link href="/css/modern-business.css" rel="stylesheet">

    			 <!-- Custom Fonts -->
   			 <link href="/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
		</head>


		<body>

			{% include header.html %}


			<main>
				<h2> {{site.titrepage}} </h2>
				{{content}}
			</main>


			{% include footer.html %}


		</body>

	</html>